.containter {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  min-height: 400px;
}

.table {
  font-weight: 500;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 700px;
}

.table-header {
  text-align: center;
  align-items: center ;
  color: black;
  width: 200px;
  font-weight: 500;
  font-size: 24px;
}

.table-data {
  text-align: center;
  font-family: monospace;
  font-weight: normal;
  font-size: 24px;
}

.mat-icon {
  margin-left: 8px;
  vertical-align: middle;
}

.spinner-container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
  background-color: rgba(2, 2, 2, 0.414);
  top:0;
  left:0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.difficulty {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 500;
  font-size: 24px;
}

.difficulty-menu {
  background-color: rgba(215, 193, 241, 0.385);
}

.menu-item-difficulty {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-family: monospace;
  font-weight: normal;
  font-size: 18px;
}

.title {
  font-size: 24px;
  font-weight: 500;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

.empty-scores-container {
  display: block;
}

.try-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.try-link {
  padding: 8px;
  font-size: 28px;
  font-weight: 500;
}