<br>
<div class="container">
    <div class="margin-bottom">
        <mat-card class="border">
            <div class="timer">Moves: {{moves}}</div>
            <div class="timer">Time: {{ timer }} </div>
            <!-- <button mat-raised-button class="green" (click)="changeDifficulty(1)">Easy</button>
            <button mat-raised-button color="accent" (click)="changeDifficulty(2)">Medium</button>
            <button mat-raised-button color="warn" (click)="changeDifficulty(3)">Hard</button> -->
            <button mat-raised-button color="warn" (click)="ngOnInit()">Restart</button>
        </mat-card>
    </div>
    <mat-grid-list class="border gray mat-elevation-z8" cols="{{columns}}" gutterSize="1em">
        <mat-grid-tile *ngFor="let card of cards" class="border image-margin">
            <div matRipple [matRippleColor]="black">
                <img
                [@shake]="card.asserted ? true : false"
                class="image fade-in"
                alt="country"
                src={{card.show?card.showImage:hideImage}}
                (click)="onClickCard(card)"
                >
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<div class="popup" *ngIf="hasFinished()"></div>