p {
  text-align: center;
}

a {
  color: rgb(189, 189, 189);
}

.link {
  color: rgb(255, 255, 255) !important;
  font-size: large;
  font-weight: 400;
}

.link:hover {
  color: rgb(160, 160, 160);
}

.active-link {
  text-shadow: 2px 2px 4px #000000;
}

.link-container {
  display: flex;
  width: 250px;
  justify-content: space-between;
}

.toolbar-container {
  display: flex;
  justify-content: space-between;
}

.link-container-2 {
  display: flex;
  width: 250px;
  justify-content: space-between;
}

.link-container-3 {
  display: flex;
  width: 400px;
  justify-content: space-between;
}

.title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  font-size: 24px;
  padding-right: 40px;
  font-weight: 600;
}