.mat-grid-list {
    /* padding-left: 1rem;
    padding-right: 1rem; */
}

.border{
    border-radius: 2em;
}

.gray {
    background-color: rgb(96, 96, 96);
}

.image {
    width:100%;
    height: 100%;
    cursor: pointer;
}

.image:hover {
    background-color: rgba(56, 56, 56, 0.308);
}

.container {
    margin-left: 10%;
    margin-right: 40%;
}