<h2 mat-dialog-title>Game finished!</h2>
<mat-dialog-content class="mat-typography fade-in fade-out">
  <h4>Share your statistics and challenge other players</h4>
  <div>
    <strong>Time: </strong> {{data?.timer}}s
  </div>
  <div>
    <strong>Moves: </strong> {{data?.moves}}
  </div>
  <p>Please enter your name</p>
  <form>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input type="text" matInput [formControl]="nameFormControl" placeholder="Your name">
      <mat-error *ngIf="nameFormControl.hasError('pattern') && !nameFormControl.hasError('required')">
        Please enter a valid name
      </mat-error>
      <mat-error *ngIf="nameFormControl.hasError('required')">
        name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [disabled]="!nameFormControl.valid" [mat-dialog-close]="nameFormControl.value">Send</button>
  <button mat-button [mat-dialog-close]="false">Play again</button>
</mat-dialog-actions>
